<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"/>
    <!-- <application
        android:name="com.bridge.MainApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning"/> -->
</manifest>
